---
http_interactions:
- request:
    method: get
    uri: https://www.recreation.gov/api/camps/availability/campground/232450/month?start_date=2023-10-01T00:00:00.000Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"campsites":{"906":{"availabilities":{"2023-10-01T00:00:00Z":"Reserved","2023-10-02T00:00:00Z":"Reserved","2023-10-03T00:00:00Z":"Reserved","2023-10-04T00:00:00Z":"Reserved","2023-10-05T00:00:00Z":"Reserved","2023-10-06T00:00:00Z":"Reserved","2023-10-07T00:00:00Z":"Reserved","2023-10-08T00:00:00Z":"Reserved","2023-10-09T00:00:00Z":"Reserved","2023-10-10T00:00:00Z":"Reserved","2023-10-11T00:00:00Z":"Reserved","2023-10-12T00:00:00Z":"Reserved","2023-10-13T00:00:00Z":"Reserved","2023-10-14T00:00:00Z":"Reserved","2023-10-15T00:00:00Z":"Reserved"},"campsite_id":"906","campsite_reserve_type":"Site-Specific","campsite_rules":null,"campsite_type":"STANDARD
        NONELECTRIC","capacity_rating":"Single","loop":"Lower Pines","max_num_people":6,"min_num_people":0,"quantities":{"2023-10-01T00:00:00Z":0,"2023-10-02T00:00:00Z":0,"2023-10-03T00:00:00Z":0,"2023-10-04T00:00:00Z":0,"2023-10-05T00:00:00Z":0,"2023-10-06T00:00:00Z":0,"2023-10-07T00:00:00Z":0,"2023-10-08T00:00:00Z":0,"2023-10-09T00:00:00Z":0,"2023-10-10T00:00:00Z":0,"2023-10-11T00:00:00Z":0,"2023-10-12T00:00:00Z":0,"2023-10-13T00:00:00Z":0,"2023-10-14T00:00:00Z":0,"2023-10-15T00:00:00Z":0},"site":"003","supplemental_camping":null,"type_of_use":"Overnight"},"907":{"availabilities":{"2023-10-01T00:00:00Z":"Reserved","2023-10-02T00:00:00Z":"Reserved","2023-10-03T00:00:00Z":"Reserved","2023-10-04T00:00:00Z":"Reserved","2023-10-05T00:00:00Z":"Reserved","2023-10-06T00:00:00Z":"Reserved","2023-10-07T00:00:00Z":"Reserved","2023-10-08T00:00:00Z":"Reserved","2023-10-09T00:00:00Z":"Reserved","2023-10-10T00:00:00Z":"Reserved","2023-10-11T00:00:00Z":"Reserved","2023-10-12T00:00:00Z":"Reserved","2023-10-13T00:00:00Z":"Reserved","2023-10-14T00:00:00[...]
